body { margin:0; padding:0; font-family: 'Muli', sans-serif;}
h1,h2 {
    font-family: 'Oswald', sans-serif;
}
h1 { color: #FFF; font-size: 3em;}
#left h2 { color: #000; background-color: #FF8000; padding-left: 5px;}
#left h2:hover { color: #000; background-color: #FE2E9A;}

a, a:visited { text-decoration: none; color: #FFF; }
a:hover {color: #00FF40;}

.highlight {color: #000; background-color: #FF8000;}

#ariel p {padding-left: 15px;}

#left .date, #left .date:hover { background-color: #00FF40;}
#left b { color: #BE81F7;}

#left {
  color: #fff;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  float: left;
}
#right {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  float: right;
}


#map { position:absolute; top:0; bottom:0; width:100%; }
.markerimg {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: white;
  opacity: 0.8;
}
article {
  position:absolute;
  top:0;
  right:0;
  bottom:0px;
  left:0;
  overflow:auto;
  padding-bottom: 800px;
  }
.quiet {
  color:rgba(0,0,0,0.5);
  }
.scroll {
  display:block;
  text-align:center;
  }
.sections {
  background:rgba(255,255,255,0.5);
  width:240px;
  }
section {
  padding:20px;
  color:rgba(0,0,0,0.5);
  -webkit-transition:background 500ms, color 500ms;
          transition:background 500ms, color 500ms;
  }
section.active {
  background:#fff;
  color:#404040;
  }

@media (max-width:640px) {

    article {
        width:100%;
        min-width:100%;
        padding-top:0px;
        padding-bottom:200%;
    }
    .sections {
        width:100%;
        min-width:100%;
        padding-top:0px;
        padding-bottom:200%;
        background:none;
    }
    section {
        visibility: hidden;
    }
    section.active {
        visibility: visible;
    }

    #left {
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
    }
    #right {
      visibility: hidden;
    }
}
